<f:layout name="Default" />

<f:section name="Main">
    <div class="container">
        <div class="row">
            <f:render partial="Column" arguments="{width: '12', content: contentMain}" />
        </div>
    </div>
</f:section>

<f:section name="Slider">
    <div class="container" id="gruppe">
        <p>
            <f:render partial="Buttons" arguments="{id: 'bisherigeWerke', idName: 'bisherigeWerke}' content:'Bisherige Werke'}"/>
            <f:render partial="Buttons" arguments="{id: 'arbeitsgeräte', idName: 'arbeitsgeräte}' content:'Arbeitsgeräte'}"/>
        </p>
        <f:render partial="Sliders" arguments="{id: 'bisherigeWerke', data-parent: 'gruppe'}" />
        <f:render partial="Sliders" arguments="{id: 'arbeitsgeräte', data-parent: 'gruppe'}" />
    </div>
</f:section>

<f:section name="ThreeCol">
    <div class="container">
        <div class="row">
            <f:render partial="Column" arguments="{width: '4', content: contentBottomLeft}" />
            <f:render partial="Column" arguments="{width: '4', content: contentBottomCenter, id='centerCol'}" />
            <f:render partial="Column" arguments="{width: '4', content: contentBottomRight}" />
        </div>
    </div>
</f:section>
