body {
    background: green;
}

#body-container{
    text-align: left;
}

li{
    list-style-type: none;
}

#steckBrief li{
    padding-bottom: 5px;
}

#centerCol{
    border-right: 1px solid darkgreen;
    border-left: 1px solid darkgreen;
}